body {
    background-image: url('/assets/img/1.png');
}
.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}
.contact-details {
    margin-top: 20px;
}